html, body {
    height: 100%;
    min-height: 100%;
}

@media (min-height: 700px) {
    .main {
        min-height: 85%;
    }
    footer {
        min-height: 15%;
    }
}
@media (max-height: 699px) {
    .main {
        min-height: 80%;
    }
    footer {
        min-height: 20%;
    }
}
@media (max-height: 399px) {
    .main {
        min-height: 70%;
    }
    footer {
        min-height: 30%;
    }
}

/*body {*/
  /*padding: 50px 0 80px 0;*/
  /*background: url("/assets/bg1.jpg") no-repeat scroll 0 0 transparent;*/
  /*background-size: 100%;*/
/*}*/
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

a, h1, button {
  font-family:"Romeral";
  font-weight: lighter;
}
.hero-unit {
  background: rgb(227,245,171); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(227,245,171,1) 0%, rgba(183,223,45,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(227,245,171,1) 0%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(227,245,171,1) 0%,rgba(183,223,45,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(227,245,171,1) 0%,rgba(183,223,45,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(227,245,171,1) 0%,rgba(183,223,45,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f5ab', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.hero-unit h1 {
  color: #F89406;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px black;
}

.navbar .brand {
  padding: 10px 30px 10px;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #d4d4d4;
  /*background-color: #333333;*/
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #6e7774 7%, #0a0e0a 14%, #0a0809 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(7%,#6e7774), color-stop(14%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#6e7774 7%,#0a0e0a 14%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#6e7774 7%,#0a0e0a 14%,#0a0809 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#6e7774 7%,#0a0e0a 14%,#0a0809 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#6e7774 7%,#0a0e0a 14%,#0a0809 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

  padding: 10px 0 5px 0;
  border: 0;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 0 !important;
}

.height-1 div {
    min-height: 120px;
}
.height-2 div {
    min-height: 240px;
}
.height-3 div {
    min-height: 360px;
}
.height-4 div {
    min-height: 480px;
}

.bg-9 {
    background-image: url('../img/Elegant_Background-9.jpg');
    width: 100%;
    margin: 0;
}

.logo {
  font-size: 120px;
  font-family:"Romeralinline";
  font-weight: 100;
  color: #55701c;
  height: 90px;
  padding: 80px 0 0 0;
}

.smile {
  font-size: 90px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: #55701c;
  position: absolute;
  -webkit-transform: rotate(83deg);
  -moz-transform: rotate(83deg);
  -o-transform: rotate(83deg);
  transform: rotate(83deg);
  writing-mode: tb-rl;
}

.tagline {
  font-family: "Andale Mono";
  font-size: 32px;
  letter-spacing: 16px;
  height: 45px;
  text-shadow: 1px 1px 1px #000, 2px 2px 2px black;
  color: #000000;
}

.bracket {
  font-family: "Arial";
  font-size: 90px;
  letter-spacing: 16px;
  height: 45px;
  color: #55701c;
}

.logo-facebook {
    background: url("../img/social_24.png") no-repeat scroll -60px 0px;
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 0 0 26px;
    vertical-align: middle;
    width: 24px;
}
.logo-twitter {
    background: url("../img/social_24.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 0 0 26px;
    vertical-align: middle;
    width: 24px;
}
.logo-google {
     background: url("../img/social_24.png") no-repeat scroll -120px 0px;
     display: inline-block;
     height: 24px;
     margin: 0;
     padding: 0 0 0 26px;
     vertical-align: middle;
     width: 24px;
 }